@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background: url(./pattern.png);
}

.main{
background: #1d1a4d;
width: 400px;
height: 175px;
margin: 100px auto;
position: relative;
padding: 30px;
border-radius: 10px;
}
.badge{
    text-align: center;
    background: #646062;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    width: 96px;
    top: -15px;
    left: 40%;
    position: absolute;
    border-radius: 8px;
}
.clock{
    background: #998ba7;
    font-size: 55px;
    text-align: center;
    height: 100%;
    padding-top: 35px;
    font-family: orbitron;
    border-radius: 10px;
}